<!-- <h1>Edit Listing</h1>
<%= render "listings/form" %> -->

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-offset-sm-2">
      <h1>EDIT Listing</h1>
      <%= render "listings/form" %>
    </div>
  </div>
</div>
